body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
}

div{
    float:left;
}

.chart {
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.row1{
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;
}

.row2{
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;
}

fieldset
{
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-color:#EEE9E9;
  background-image: linear-gradient( to bottom, #403030, #404040, #303030, #202020 );
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

legend
{
  color:#ffffff;;
}